<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>

        FAQ

    </title>

    <link rel="shortcut icon" type="image/png" href="static/coinstart/img/favicon.png">
    <meta name="description" content="">
    <meta name="keywords"
        content="coinstart,exchange,обменник, обменять киви на биткоин, обменять киви на биткоины, обменять yandex на qiwi, обменять биткоин на сбербанк, обмен втб на qiwi, биткоин в рубли, ВТБ24, Яндекс Деньги, Альфа Банк,  Сбербанк">
    <link rel='stylesheet' type='text/css' href="static/coinstart/styles/css/main.css@v=1015.css" />
    <link rel='stylesheet' type='text/css' href="static/coinstart/styles/css/responsive.css@v=1015.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        header .left .logo {
            background: url(/media/logo_head.svg);
            width: 207px;
            height: 70px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: -22px -66px;
        }
        @media screen and (max-width: 1070px) {
            header {
                background: #027afe;
            }
        }
        
        header {
            background: #027afe;
        }

        footer {
            background: #027afe;
        }

        footer .top .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    </style>
</head>

<body>
    <header>
        <div class="content">
            <div class="left">
                <a href="/" class="logo">
                </a>
                <div class="nav">
                    <div class="mob_nav">
                        <a href="/faq"><span></span></a>
                    </div>
                    <ul>
                        <li><a href="/rules">Rules</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contacts">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">

                <!-- <div class="buttons">
                    <a href="faq.html#auth" class="modal-trigger login_b">Вход</a>
                    <a href="faq.html#reg" class="modal-trigger reg_b">Регистрация</a>
                </div> -->
            </div>
        </div>
    </header>
    <div class="page">
        <div class="page_top">
            <div class="content">
                <div class="bread">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>
                            <p>FAQ</p>
                        </li>
                    </ul>
                </div>
                <h1><span>FAQ</span></h1>
            </div>
        </div>
        <div class="faq">
            <div class="content">
                <div class="items">
                    <div class="item">
                        <div class="item_top">
                            <div class="left">
                                <p>?</p>
                            </div>
                            <div class="right">
                                <p>Where can I track the status of my application?</p>
                            </div>
                        </div>
                        <div class="item_bot">
                            <div class="left">
                                <p>!</p>
                            </div>
                            <div class="right">
                                <p>
                                    The status of the application can be tracked on Email, we will notify you of the status of the application by mail.                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_top">
                            <div class="left">
                                <p>?</p>
                            </div>
                            <div class="right">
                                <p>Why do I need confirmation in the bitcoin system?</p>
                            </div>
                        </div>
                        <div class="item_bot">
                            <div class="left">
                                <p>!</p>
                            </div>
                            <div class="right">
                                <p>
                                    When receiving bitcoin coins, the recipient cannot use them immediately. As
                                    transfer is made - it is sent to the Bitcoin network for execution and must be
                                    included in the block to become validated. The process of incorporating the transfer into
                                    block found is called transaction confirmation. Inclusion in 1 block = 1
                                    confirmation, when there are 2 or more such confirmations the transfer is considered
                                    confirmed, and the operators, in their turn, process the request. This
                                    method was introduced to protect against repeated use of the same bitcoins.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_top">
                            <div class="left">
                                <p>?</p>
                            </div>
                            <div class="right">
                                <p>How long does it take to process an application?</p>
                            </div>
                        </div>
                        <div class="item_bot">
                            <div class="left">
                                <p>!</p>
                            </div>
                            <div class="right">
                                <p>
                                    We try to process your requests as quickly as possible, the average processing time
                                    takes from 5-15 minutes if the transfer is made instantly.<br>
                                    There are cases of delays in the payment systems themselves, unfortunately we can't
                                    We are unfortunately unable to influence the speed of such transactions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="top">
            <div class="content">
                <div class="mail">
                    <a href="partners.html#"><span class="__cf_email__"
                            >exp-coin@gmail.com</span></a>
                </div>
            </div>
        </div>
        <div class="bot">
            <div class="content">
                <a href="https://www.bestchange.ru/" target="_blank"><img src="static/coinstart/img/footer_ex_1.png"
                        alt="" /></a>
            </div>
        </div>
    </footer>
    <script src="static/coinstart/scripts/api.js" type="text/javascript"></script>
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="b22b9b30b30bdadecdfcff8b-text/javascript">
        var lang = 'ru';
    </script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"
        type="text/javascript"></script>
    <script src="static/coinstart/scripts/vendor/jquery.ui.widget.js" type="text/javascript">
    </script>
    <script src="static/coinstart/scripts/jquery.fileupload.js" type="text/javascript">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        type="text/javascript"></script>
    <script src="static/coinstart/scripts/helpers.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/views.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/additions.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/more.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/requests.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/main.js" type="text/javascript"></script>

    <input type="hidden" name="csrfmiddlewaretoken"
        value="pg59o2bqQU2d3fVh0Z5qDAwcW8x7HROvf6u6rjHNR7ZEgDMuSy5mvA0qEBcPmNoa">

    <script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="b22b9b30b30bdadecdfcff8b-|49" defer=""></script>
        <%- include('./smartsupp/index.ejs') %>
</body>

</html>