<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>

        FAQ

    </title>

    <link rel="shortcut icon" type="image/png" href="static/coinstart/img/favicon.png">
    <meta name="description" content="">
    <meta name="keywords"
        content="coinstart,exchange,обменник, обменять киви на биткоин, обменять киви на биткоины, обменять yandex на qiwi, обменять биткоин на сбербанк, обмен втб на qiwi, биткоин в рубли, ВТБ24, Яндекс Деньги, Альфа Банк,  Сбербанк">
    <link rel='stylesheet' type='text/css' href="static/coinstart/styles/css/main.css@v=1015.css" />
    <link rel='stylesheet' type='text/css' href="static/coinstart/styles/css/responsive.css@v=1015.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        header .left .logo {
            background: url(/media/logo_head.svg);
            width: 207px;
            height: 70px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: -22px -66px;
        }
        @media screen and (max-width: 1070px) {
            header {
                background: #027afe;
            }
        }
        
        header {
            background: #027afe;
        }

        footer {
            background: #027afe;
        }

        footer .top .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    </style>
</head>

<body>
    <header>
        <div class="content">
            <div class="left">
                <a href="/" class="logo">
                </a>
                <div class="nav">
                    <div class="mob_nav">
                        <a href="/faq"><span></span></a>
                    </div>
                    <ul>
                        <li><a href="/rules">Правила обмена</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">

                <!-- <div class="buttons">
                    <a href="faq.html#auth" class="modal-trigger login_b">Вход</a>
                    <a href="faq.html#reg" class="modal-trigger reg_b">Регистрация</a>
                </div> -->
            </div>
        </div>
    </header>
    <div class="page">
        <div class="page_top">
            <div class="content">
                <div class="bread">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li>
                            <p>FAQ</p>
                        </li>
                    </ul>
                </div>
                <h1><span>FAQ</span></h1>
            </div>
        </div>
        <div class="faq">
            <div class="content">
                <div class="items">
                    <div class="item">
                        <div class="item_top">
                            <div class="left">
                                <p>?</p>
                            </div>
                            <div class="right">
                                <p>Где я могу отследить статус моей заявки?</p>
                            </div>
                        </div>
                        <div class="item_bot">
                            <div class="left">
                                <p>!</p>
                            </div>
                            <div class="right">
                                <p>
                                    Статус заявки можно отследить в Личном кабинете в пункте «заявки» ( логин и пароль
                                    от которого высылаться на Вашу почту, при регистрации, либо при первом создании
                                    заявки). Так же мы оповестим Вас, о статусе заявки, по почте.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_top">
                            <div class="left">
                                <p>?</p>
                            </div>
                            <div class="right">
                                <p>Для чего нужны подтверждения в системе bitcoin?</p>
                            </div>
                        </div>
                        <div class="item_bot">
                            <div class="left">
                                <p>!</p>
                            </div>
                            <div class="right">
                                <p>
                                    При получении bitcoin монет, получатель не может сразу ими воспользоваться. Как
                                    перевод совершен – он отправляется в сеть Bitcoin для исполнения и должен быть
                                    включен в блок, чтобы стать подтверждённым. Процесс включения перевода в состав
                                    найденного блока называется подтверждением транзакции. Включение в 1 блок = 1
                                    подтверждение, когда таких подтверждений набирается 2 и выше перевод считается
                                    подтвержденным, и операторы coinstart.cc, в свою очередь, обрабатывают заявку. Такой
                                    способ был введен для защиты от повторного пользования одних и тех же bitcoin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_top">
                            <div class="left">
                                <p>?</p>
                            </div>
                            <div class="right">
                                <p>Минимальная максимальная сумма обмена.</p>
                            </div>
                        </div>
                        <div class="item_bot">
                            <div class="left">
                                <p>!</p>
                            </div>
                            <div class="right">
                                <p>
                                    Минимальная сумма обмена
                                    <br><br>
                                    RUB от 150 рублей<br>
                                    USD от 3 долларов<br>
                                    Bitcoin от 0.001 BTC<br>
                                    <br>
                                    Минимальная сумма отдачи
                                    <br><br>
                                    ETH от 0.01<br>
                                    XRP от 20<br>
                                    BTC от 0.004<br>
                                    <br>
                                    Максимальная сумма обмена
                                    <br><br>
                                    RUB до 200000 рублей<br>
                                    USD до 3000 долларов<br>
                                    Bitcoin до 15 BTC<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_top">
                            <div class="left">
                                <p>?</p>
                            </div>
                            <div class="right">
                                <p>Сколько времени обрабатывается заявка?</p>
                            </div>
                        </div>
                        <div class="item_bot">
                            <div class="left">
                                <p>!</p>
                            </div>
                            <div class="right">
                                <p>
                                    Мы стараемся обрабатывать Ваши заявки как можно быстрее, время обработки в среднем
                                    занимает от 5-15 минут, при условии если перевод совершается моментально.<br>
                                    Бывают случаи задержек в самих платёжных системах, к сожалению мы не в силах
                                    повлиять на скорость таких транзакций.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="top">
            <div class="content">
                <div class="mail">
                    <a href="partners.html#"><span class="__cf_email__"
                            data-cfemail="83e0eceaedf0f7e2f1f7ade0e0c3e4eee2eaefade0ecee">ctyptmaker.com@gmail.com</span></a>
                </div>
            </div>
        </div>
        <div class="bot">
            <div class="content">
                <a href="https://www.bestchange.ru/" target="_blank"><img src="static/coinstart/img/footer_ex_1.png"
                        alt="" /></a>
                <a href="https://kurs.expert/ru/" target="_blank"><img src="static/coinstart/img/footer_ex_2.png"
                        alt="" /></a>
            </div>
        </div>
    </footer>
    <script src="static/coinstart/scripts/api.js" type="text/javascript"></script>
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="b22b9b30b30bdadecdfcff8b-text/javascript">
        var lang = 'ru';
    </script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"
        type="text/javascript"></script>
    <script src="static/coinstart/scripts/vendor/jquery.ui.widget.js" type="text/javascript">
    </script>
    <script src="static/coinstart/scripts/jquery.fileupload.js" type="text/javascript">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        type="text/javascript"></script>
    <script src="static/coinstart/scripts/helpers.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/views.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/additions.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/more.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/requests.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/main.js" type="text/javascript"></script>

    <input type="hidden" name="csrfmiddlewaretoken"
        value="pg59o2bqQU2d3fVh0Z5qDAwcW8x7HROvf6u6rjHNR7ZEgDMuSy5mvA0qEBcPmNoa">

    <script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="b22b9b30b30bdadecdfcff8b-|49" defer=""></script>
        <%- include('./smartsupp/index.ejs') %>
</body>

</html>