<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>

        Партнерам

    </title>

    <link rel="shortcut icon" type="image/png" href="static/coinstart/img/favicon.png">
    <meta name="description" content="">
    <meta name="keywords"
        content="coinstart,exchange,обменник, обменять киви на биткоин, обменять киви на биткоины, обменять yandex на qiwi, обменять биткоин на сбербанк, обмен втб на qiwi, биткоин в рубли, ВТБ24, Яндекс Деньги, Альфа Банк,  Сбербанк">
    <link rel='stylesheet' type='text/css' href="static/coinstart/styles/css/main.css@v=1015.css" />
    <link rel='stylesheet' type='text/css' href="static/coinstart/styles/css/responsive.css@v=1015.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        header .left .logo {
            background: url(/media/logo_head.svg);
            width: 207px;
            height: 70px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: -22px -66px;
        }
        @media screen and (max-width: 1070px) {
            header {
                background: #027afe;
            }
        }
        
        header {
            background: #027afe;
        }

        footer {
            background: #027afe;
        }

        footer .top .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    </style>
</head>

<body>
    <header>
        <div class="content">
            <div class="left">
                <a href="/" class="logo">
                </a>
                <div class="nav">
                    <div class="mob_nav">
                        <a href="/partners"><span></span></a>
                    </div>
                    <ul>
                        <li><a href="/rules">Правила обмена</a></li>
                        <li><a href="/partners">Партнерам</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">

                <!-- <div class="buttons">
                    <a href="partners.html#auth" class="modal-trigger login_b">Вход</a>
                    <a href="partners.html#reg" class="modal-trigger reg_b">Регистрация</a>
                </div> -->
            </div>
        </div>
    </header>
    <div class="page">
        <div class="page_top">
            <div class="content">
                <div class="bread">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li>
                            <p>Партнерам</p>
                        </li>
                    </ul>
                </div>
                <h1><span>Партнерам</span></h1>
            </div>
        </div>
        <div class="partners">
            <div class="content">
                <div class="items">
                    <div class="item">
                        <div class="img">
                            <span>
                                <img src="static/coinstart/img/partners_1.png" alt="">
                            </span>
                        </div>
                        <p class="name">Пользователям</p>
                        <p class="text">Зарабатывайте с нами. Как? Расскажите о нас, делитесь Вашей индивидуальной
                            ссылкой с друзьями, знакомыми, размещайте наш рекламный материал на Ваших сайтах, и
                            получайте проценты с обменных операций приведённых пользователей.</p>
                        <a href="partners/forusers.html">Подробнее</a>
                    </div>
                    <div class="item">
                        <div class="img">
                            <span>
                                <img src="static/coinstart/img/partners_2.png" alt="">
                            </span>
                        </div>
                        <p class="name">Мониторингам</p>
                        <p class="text">Уважаемые мониторинги обмена электронных валют. Мы стремимся развивать
                            взаимовыгодные и перспективные отношения, которые позволят Вам и нам увеличить доход.</p>
                        <a href="partners/formonitorings.html">Присоединиться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="top">
            <div class="content">
                <div class="mail">
                    <a href="partners.html#"><span class="__cf_email__"
                            data-cfemail="83e0eceaedf0f7e2f1f7ade0e0c3e4eee2eaefade0ecee">ctyptmaker.com@gmail.com</span></a>
                </div>
            </div>
        </div>
        <div class="bot">
            <div class="content">
                <a href="https://www.bestchange.ru/" target="_blank"><img src="static/coinstart/img/footer_ex_1.png"
                        alt="" /></a>
                <a href="https://kurs.expert/ru/" target="_blank"><img src="static/coinstart/img/footer_ex_2.png"
                        alt="" /></a>
            </div>
        </div>
    </footer>
    <div class="pop_bg"></div>
    <div id="notify" class="modal">
        <div class="pop_up pop_up_notify">
            <div class="top">
                <h2>Уведомление</h2>
                <a onclick="if (!window.__cfRLUnblockHandlers) return false; $('#notify').modal('close')" class="close"
                    data-cf-modified-74d109132fc9378a1ccc8cda-=""><img src="static/coinstart/img/pop_close.png"
                        alt="" /></a>
            </div>
            <div class="mid">
                <div id="notify-in">
                    <div class="notify-h">
                    </div>
                    <div class="notify-body">
                    </div>
                </div>
                <div id="notify-to">
                    <div class="notify-h">
                    </div>
                    <div class="notify-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="claim-check" class="modal">
        <div class="pop_up pop_up_5">
            <div class="top">
                <h2>Подтверждение заявки</h2>
                <a onclick="if (!window.__cfRLUnblockHandlers) return false; $('#claim-check').modal('close')"
                    class="close" data-cf-modified-74d109132fc9378a1ccc8cda-=""><img
                        src="static/coinstart/img/pop_close.png" alt="" /></a>
            </div>
            <div class="mid">
                <p>Для завершения операции обмена пройдите по ссылке</p>
                <div class="check-claim-content">
                    <div class="check-claim-side from">
                        <div>
                            <div class="exchange__icon"><img src="partners.html" alt=""></div>
                            <div class="check-claim-ps"></div>
                            <div class="check-claim-amount"></div>
                        </div>
                        <div class="check-claim-reqs">
                        </div>
                    </div>
                    <div class="check-claim-devider">
                        <i class="material-icons">
                            navigate_next
                        </i>
                    </div>
                    <div class="check-claim-devider-mobile">
                        <i class="material-icons">
                            keyboard_arrow_down
                        </i>
                    </div>
                    <div class="check-claim-side to">
                        <div>
                            <div class="exchange__icon"><img src="media/pslogo/sberbank.svg" alt=""></div>
                            <div class="check-claim-ps"></div>
                            <div class="check-claim-amount"></div>
                        </div>
                        <div class="check-claim-reqs">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot">
                <a href="partners.html#" id="claim-link" class="next"
                    onclick="if (!window.__cfRLUnblockHandlers) return false; $(&quot;#claim-link&quot;).attr(&quot;onclick&quot;,&quot;return false;&quot;);$(&quot;#claim-link&quot;).text(&quot;Переход на оплату..&quot;);setTimeout(function (){$(&quot;#claim-link&quot;).attr(&quot;onclick&quot;,&quot;&quot;);$(&quot;#claim-link&quot;).text(&quot;Перейти к оплате&quot;);},10000)"
                    data-cf-modified-74d109132fc9378a1ccc8cda-="">Перейти
                    к
                    оплате</a>
                <a href="partners.html#!" class="modal-close cancel">Отмена</a>
            </div>
        </div>
    </div>

    <div id="claim-auto-check" class="modal">
        <div class="pop_up pop_up_5">
            <div class="top">
                <h2>Подтверждение заявки</h2>
                <a onclick="if (!window.__cfRLUnblockHandlers) return false; $('#claim-auto-check').modal('close')"
                    class="close" data-cf-modified-74d109132fc9378a1ccc8cda-=""><img
                        src="static/coinstart/img/pop_close.png" alt="" /></a>
            </div>
            <div class="mid">
                <p>Для завершения операции обмена пройдите по ссылке</p>
                <div class="check-claim-content">
                    <div class="check-claim-side from">
                        <div>
                            <div class="exchange__icon"><img src="partners.html" alt=""></div>
                            <div class="check-claim-ps"></div>
                            <div class="check-claim-amount"></div>
                        </div>
                        <div class="check-claim-reqs">
                        </div>
                    </div>
                    <div class="check-claim-devider">
                        <i class="material-icons">
                            navigate_next
                        </i>
                    </div>
                    <div class="check-claim-devider-mobile">
                        <i class="material-icons">
                            keyboard_arrow_down
                        </i>
                    </div>
                    <div class="check-claim-side to">
                        <div>
                            <div class="exchange__icon"><img src="media/pslogo/sberbank.svg" alt=""></div>
                            <div class="check-claim-ps"></div>
                            <div class="check-claim-amount"></div>
                        </div>
                        <div class="check-claim-reqs">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot">
                <a href="partners.html#" target="_blank" id="claim-auto-link"
                    onclick="if (!window.__cfRLUnblockHandlers) return false; " class="next"
                    data-cf-modified-74d109132fc9378a1ccc8cda-="">
                    Перейти к оплате
                </a>
                <a href="partners.html#!" class="modal-close cancel">Отмена</a>
            </div>
        </div>
    </div>
    <div id="auth" class="modal">
        <div class="pop_up pop_up_10">
            <div class="top">
                <h2>Авторизация</h2>
                <a onclick="if (!window.__cfRLUnblockHandlers) return false; $('#auth').modal('close')" class="close"
                    data-cf-modified-74d109132fc9378a1ccc8cda-=""><img src="static/coinstart/img/pop_close.png"
                        alt="" /></a>
            </div>
            <div class="mid">
                <form action="partners.html#">
                    <div class="input">
                        <input type="email" id="login_username" placeholder="Email" />
                    </div>
                    <p class="link"><a
                            onclick="if (!window.__cfRLUnblockHandlers) return false; $('#auth').modal('close'); setTimeout(function(){$('#reg').modal('open');}, 300);"
                            data-cf-modified-74d109132fc9378a1ccc8cda-="">Нет аккаунта?</a></p>
                    <div class="input">
                        <input type="password" id="login_password" placeholder="Пароль" />
                        <a href="partners.html#"></a>
                    </div>
                    <p class="link"><a href="account/restore.html">Забыли пароль?</a></p>
                    <div class="save_me">
                        <div class="left active">
                            <div></div>
                        </div>
                        <div class="right">
                            <p>Запомнить меня</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="auth__err_message"></div>
            <div class="bot">
                <button onclick="if (!window.__cfRLUnblockHandlers) return false; loginAjax()" class="login"
                    data-cf-modified-74d109132fc9378a1ccc8cda-="">Войти</button>
                <a class="modal-close cancel">Отмена</a>
            </div>
        </div>
    </div>
    <div id="reg" class="modal">
        <div class="pop_up pop_up_11">
            <div class="top">
                <h2>Регистрация</h2>
                <a onclick="if (!window.__cfRLUnblockHandlers) return false; $('#reg').modal('close')" class="close"
                    data-cf-modified-74d109132fc9378a1ccc8cda-=""><img src="static/coinstart/img/pop_close.png"
                        alt="" /></a>
            </div>
            <div class="mid">
                <form action="partners.html#">
                    <div class="input">
                        <input type="email" placeholder="Email" id="reg_email" />
                    </div>
                    <div class="input">
                        <input type="password" placeholder="Пароль" id="reg_password" />
                        <a href="partners.html#"></a>
                    </div>
                    <div class="input">
                        <input type="password" placeholder="Пароль" id="reg_password_again" />
                        <a href="partners.html#"></a>
                    </div>
                    <div class="mid_line">
                        <div class="text">
                            <p>
                                Нажимая на кнопку "Зарегистрироваться", я соглашаюсь с
                                <a href="rules.html">правилами сервиса</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bot">
                <button onclick="if (!window.__cfRLUnblockHandlers) return false; regAjax()" class="registration"
                    data-cf-modified-74d109132fc9378a1ccc8cda-="">Зарегистрироваться</button>
            </div>
        </div>
    </div>
    <script src="static/coinstart/scripts/api.js" type="text/javascript"></script>
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="74d109132fc9378a1ccc8cda-text/javascript">
        var lang = 'ru';
    </script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"
        type="74d109132fc9378a1ccc8cda-text/javascript"></script>
    <script src="static/coinstart/scripts/vendor/jquery.ui.widget.js" type="74d109132fc9378a1ccc8cda-text/javascript">
    </script>
    <script src="static/coinstart/scripts/jquery.fileupload.js" type="74d109132fc9378a1ccc8cda-text/javascript">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        type="74d109132fc9378a1ccc8cda-text/javascript"></script>
    <script src="static/coinstart/scripts/helpers.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/views.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/additions.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/more.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/requests.js" type="text/javascript"></script>
    <script src="static/coinstart/scripts/main.js" type="text/javascript"></script>

    <input type="hidden" name="csrfmiddlewaretoken"
        value="wNrPCsq3u8dhOn0DWuMqUjZtjWmUXZ3CmDQMFJWqvlaI1LRQO3MmMjtH1p1CCVDh">

    <script type="74d109132fc9378a1ccc8cda-text/javascript">
        (function () {
            var widget_id = 'VBWbaIDoHL';
            var d = document;
            var w = window;

            function l() {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id;
                var ss = document.getElementsByTagName('script')[0];
                ss.parentNode.insertBefore(s, ss);
            }
            if (d.readyState == 'complete') {
                l();
            } else {
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
    </script>

    <script type="74d109132fc9378a1ccc8cda-text/javascript">
        function jivo_onLoadCallback() {
            if (is_jivo_onload) return;
            window.jivocb_widget = window.document.getElementById("jvlabelWrap");
            console.log(window.jivocb_widget);
            if (window.jivocb_widget === null) window.jivocb_widget = document.getElementsByClassName(
                '__jivoMobileButton')[0];
            console.log(window.jivocb_widget);
            is_jivo_onload = true;
        }

        function chatInit() {
            if (location.pathname != '/') {
                return;
            }
            if (!is_jivo_onload) {
                setTimeout(function () {
                    chatInit();
                }, 1000);
                console.log('Check jivo initiate... retry...');
                return;
            }

            var _ps1 = {};
            var _ps2 = {};
            try {
                console.log('Try to change chat by from and to');
                _ps1 = getPs(currentWay[0], true);
                _ps2 = getPs(currentWay[1], true);
                chatSwitcher(_ps1, _ps2, true);
            } catch (e) {
                console.log('trying change chat is failed... retry...');
                /*setTimeout(function(){
                          chatInit();
                    }, 1000);*/
            }
        }
        if (location.pathname === '/') {
            window.onload = function () {
                chatInit();
            }
        }
    </script>

    <script type="74d109132fc9378a1ccc8cda-text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode
                .insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(88196409, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/88196409" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>

    <script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="74d109132fc9378a1ccc8cda-|49" defer=""></script>

        <%- include('./smartsupp/index.ejs') %>
</body>

</html>